:root {
  --logo-blue: #0d6efd;
  --white: #ffffff;
}

/* main{
  background-color: yellow;
} */

html, body {
	height: 100%;
}

.sidebar {
	height: 100%;
}

/* Custom CSS to adjust the position of the alert */
.custom-alert {
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: calc(100% - 30px); /* Set the width to match the main content section minus padding */
    max-width: 800px; /* Set a maximum width for the alert */
}

.sidebar .nav .nav-item .nav-link {
  font-weight: 400;
  color: var(--logo-blue);
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.is-valid {
    border-color: #28a745; /* Green border for valid input */
  }

.is-invalid {
    border-color: #dc3545; /* Red border for invalid input */
  }
